**/test-output/
**/kubespray/
**/.classpath
**/.project
**/activate.sh
**/.vagrant
**/.settings/
**/target/
**/punchplatform-deployer*
**/_build/
**/external/
**/logs/
**/.checkstyle
**/.pydevproject
**/generated_inventory
nohup.out
*.swp
*.log
*.pyc
*.py.tmp
.sublime-project.sublime-workspace
.git-revision-status
.pydevproject
.recommenders
target
punchplatform.log
conditionning_playbook*
com.thales.services.cloudomc.punchplatform*
current-deployment.inv
.project
.settings
*~
.metadata
.DS_Store
*.iml
bin/activate.sh
pp-conf
punchplatform-deployer
.venv
*.vdi
.vscode/
model.json
bin/pex/ansible_pex/ansible.pex
bin/pex/punchbox_pex/punchbox.pex
vagrant/Vagrantfile
ansible/punchbox.*
.idea
.idea/**
punch/build
venv
.deployer
.deployed_configuration
bin/pex/.all_pex_generated
build

vagrant/.dependencies_installed
.alltools_installed
