{
    "version": "5.0",
    "start_by_tenant" : true,
    "stop_by_tenant" : true,
    "jobs": [
        {
            "name": "input_topology",
            "type": "storm",
            "execution_mode": "cluster",
            "cluster": "{{ channel.cluster_name|default('main') }}",
            "reload_action": "none"
        },
        {
            "name": "processing_topology",
            "type": "storm",
            "execution_mode": "cluster",
            "cluster": "{{ channel.cluster_name|default('main') }}",
            "reload_action": "kill_then_start"
        }
    ],
    "resources": [
        {
            "type": "kafka_topic",
            "name": "{{channel.tenant}}_{{channel.channel}}",
            "cluster": "common",
            "partitions": 1,
            "replication_factor": 1
        }
    ]
}