{
  "tenant": "{{channel.tenant}}",
  "channel": "{{channel.channel}}",
  "name": "input",
  "meta": {
    "tenant": "{{channel.tenant}}",
    "channel": "{{channel.channel}}",
    "vendor": "{{channel.vendor}}"
  },
  "spouts": [
    {
      "type": "syslog_spout",
      "spout_settings": {
        "listen": {
          "proto": "tcp",
          "host": "0.0.0.0",
          "port": {{channel.input.port}}
        },
        "load_control": "none",
        "load_control.rate": 1000,
        "load_control.adaptative": true,
        "self_monitoring.activation": true,
        "self_monitoring.period": 10
      },
      "storm_settings": {
        "executors": 1,
        "component": "syslog_spout_tcp",
        "publish": [
          {
            "stream": "logs",
            "fields": [
              "log",
              "_ppf_local_host",
              "_ppf_local_port",
              "_ppf_remote_host",
              "_ppf_remote_port",
              "_ppf_id",
              "_ppf_timestamp"
            ]
          },
          {
            "stream": "_ppf_metrics",
            "fields": [
              "_ppf_latency"
            ]
          }
        ]
      }
    }
  ],
  "bolts": [
    {
      "type": "kafka_bolt",
      "bolt_settings": {
        "topic": "{{channel.tenant}}_{{channel.channel}}",
        "producer.acks": "all",
        "producer.batch.size": 16384,
        "producer.linger.ms": 0,
        "brokers": "common",
        "encoding": "lumberjack"
      },
      "storm_settings": {
        "executors": 1,
        "component": "kafka",
        "subscribe": [
          {
            "component": "syslog_spout_tcp",
            "stream": "logs",
            "grouping": "localOrShuffle"
          },
          {
            "component": "syslog_spout_tcp",
            "stream": "_ppf_metrics",
            "grouping": "localOrShuffle"
          }
        ]
      }
    }
  ],
  "metrics": {
    "reporters": [
      {
        "type": "elasticsearch",
        "cluster_name": "es_search"
      }
    ]
  },
  "storm_settings": {
    "topology.worker.childopts": "{{channel.runtime_settings.childopts}}"
  }
}