[ req ]
default_bits = 2048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext

[ dn ]
C = FR
ST = IDF
L = Paris
O = Thales
OU = Cybels Analytics
CN = Root Certificate Authority
emailAddress = example@thalesgroup.com

[ req_ext ]
basicConstraints = CA:TRUE
