version: "6.0"
start_by_tenant: true
stop_by_tenant: true
applications:
- name: input
  type: storm
  execution_mode: cluster
  cluster: {{ channel.cluster_name|default('common') }}
  reload_action: kill_then_start
