---
# deploying prerequisites for a punch deployer

- hosts: pp_deployers
  roles:
   - pp-deployer
  vars:
    - pp_deployer_version: {{ version }}
    - pp_local_deployers_dir: /data/punchbox-workspace
    - pp_remote_deployment_user: adm-infra
    - pp_remote_setups_dir: /data
    - pp_local_conf_dir: /data/punchbox-workspace
    - pp_conf_name: pp-conf


- hosts: pp_targets
  roles:
   - pp-target