#! /bin/bash

shopt -s expand_aliases

PROG=$(basename "$0")
ROBOT_DIR="$PUNCHPLATFORM_CONF_DIR/tenants/validation/resources/robots/"

function info() {
  echo -e "\033[34mINFO:\033[0m $1"
}

######### USAGE ######################
function usage() {
    echo "Usage: $PROG <command>"
    echo ""
    echo "  -h, --help                          Print this help menu."
    echo "  -f, --full                          Launch all the robot tests."
    echo "  -r, --rule <rule>                   Launch the given robot test. Tests can be found"
    echo "                                      in the robots resources in validation tenant"
    echo
    echo "Examples:"
    echo
    echo "  $ $PROG --full"
    echo "  $ $PROG -f"
    echo "  $ $PROG --rule archiving"
    echo "  $ $PROG -r archiving"
    echo
}


function init() {
    info "Push Elasticsearch templates"

    punchplatform-push-es-templates.sh --directory $PUNCHPLATFORM_CONF_DIR/resources/elasticsearch/templates/ \
        --url {% if security %}https://{% endif %}{{ punch.elasticsearch.servers[0] }}:9200 {% if security %} --username admin --password admin {% endif %}

    info "Push Kibana dashboards"

    punchplatform-setup-kibana.sh --import --url {% if security %}https://{% endif %}{{ punch.kibana.servers[0] }}:5601 {% if security %} -u admin:admin {% endif %}

    info "Start monitoring channels"

    channelctl -t mytenant start --channel monitoring
    channelctl -t platform start --channel monitoring
}

if [ $# -eq 0 ]; then
    usage
    exit 0
fi

testDir=""

case $1 in
    -h | --help)
        usage
        exit 0
        ;;
    -f | --full)
        testDir="."
        ;;
    -t | --test)
        testDir="$2"
        ;;
    *)
        usage
        fatal "Unknown command '$1'."
        ;;
esac

init

info "Sourcing $ROBOT_DIR/activate.sh "

. "$ROBOT_DIR/activate.sh"

info "Launching robot test from directory $ROBOT_DIR/$testDir"

punch-robot-test "$ROBOT_DIR/$testDir"

info "End of check platform"
exit