{
  "deployment_secrets":{
    "platform": {
      "platform_truststore_pass": "secret123"
    },
    "kafka": {
      "keystore_pass": "secret123"
    },
    "zookeeper": {
      "keystore_pass": "secret123"
    },
    "gateway": {
      "keystore_pass": "secret123"
    },
    "shiva": {
      "keystore_pass": "secret123"
    }
    "user": "admin",
    "password": "admin"
  }
}
