{
  "platform": {
    "platform_truststore_pass": "secret123"
  },
  "kafka": {
    "clusters": {
      "local": {
        "brokers_with_ids" : [
          {"id" : 1, "keystore_pass": "secret123" }
        ]
      }
    }
  },
  "zookeeper": {
    "clusters": {
      "local": {
        "truststore_pass": "fraise",
        "servers": {
          "server2": {
            "keystore_pass": "secret123"
          }
      }
    }
  }},
  "gateway": {
    "clusters": {
      "gateway_32g": {
        
  "servers": {
    "server2": {
      "key_store_password": "secret123"
    }
  },
  "elasticsearch": {
    "data_cluster": {
      "metrics_credentials": {
        "password": "admin",
        "user": "admin"
      }
    },
    "metric_cluster": {
      "credentials": {
        "password": "admin",
        "user": "admin"
      }
    }
  },
  "resources": {
    "manager": {
      "metadata": {
        "credentials": {
          "user": "admin",
          "password": "admin"
        }
      }
    }
  }
}
}
}
}
