---
platform:
  platform_id: {{ settings.platform.id }}
  setups_root: {{ settings.platform.setups_root }}
  remote_data_root_directory: {{ settings.platform.data_root }}
  remote_logs_root_directory: {{ settings.platform.logs_root }}
  punchplatform_daemons_user: {{ settings.platform.punch_daemons_user }}
  punchplatform_group: {{ settings.platform.punch_daemons_group }}
  binaries_version: {{ descriptor.versions.binaries }}
